<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Station2dMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
  	<id column="id" property="id" jdbcType="VARCHAR"/>
  	<result column="TESTTIMEs" property="testtimes" jdbcType="VARCHAR"/>
	<result column="ENDTIME" property="endtime" jdbcType="VARCHAR"/>
	<result column="ENDA" property="enda" jdbcType="VARCHAR"/>
	<result column="STARTTIME" property="starttime" jdbcType="VARCHAR"/>
	<result column="STARTA" property="starta" jdbcType="VARCHAR"/>
	<result column="MACHINENUM" property="machinenum" jdbcType="VARCHAR"/>
	<result column="testa" property="testa" jdbcType="VARCHAR"/>
	<result column="factorynumber" property="factorynumber" jdbcType="VARCHAR"/>
	<result column="MACHINEtype" property="machinetype" jdbcType="VARCHAR"/>
	<result column="linenum" property="linenum" jdbcType="VARCHAR"/>
	<result column="wpnum" property="wpnum" jdbcType="VARCHAR"/>
	<result column="creattime" property="creattime" jdbcType="VARCHAR"/>
	<result column="batchnum" property="batchnum" jdbcType="VARCHAR"/>
	<result column="stationnum" property="stationnum" jdbcType="VARCHAR"/>
	<result column="port" property="port" jdbcType="VARCHAR"/>
	<result column="station" property="station" jdbcType="VARCHAR"/>
	<result column="result" property="result" jdbcType="VARCHAR"/>
	<result column="barcode" property="barcode" jdbcType="VARCHAR"/>
	
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="testtimes != null" >
		 AND TESTTIMEs = #{testtimes}
	 </if>
	<if test="endtime != null" >
		 AND ENDTIME = #{endtime}
	 </if>
	<if test="enda != null" >
		 AND ENDA = #{enda}
	 </if>
	<if test="starttime != null" >
		 AND STARTTIME = #{starttime}
	 </if>
	<if test="starta != null" >
		 AND STARTA = #{starta}
	 </if>
	<if test="machinenum != null" >
		 AND MACHINENUM = #{machinenum}
	 </if>
	<if test="testa != null" >
		 AND testa = #{testa}
	 </if>
	<if test="factorynumber != null" >
		 AND factorynumber = #{factorynumber}
	 </if>
	<if test="machinetype != null" >
		 AND MACHINEtype = #{machinetype}
	 </if>
	<if test="linenum != null" >
		 AND linenum = #{linenum}
	 </if>
	<if test="wpnum != null" >
		 AND wpnum = #{wpnum}
	 </if>
	<if test="id != null" >
		 AND id = #{id}
	 </if>
	<if test="creattime != null" >
		 AND creattime = #{creattime}
	 </if>
	<if test="batchnum != null" >
		 AND batchnum = #{batchnum}
	 </if>
	<if test="stationnum != null" >
		 AND stationnum = #{stationnum}
	 </if>
	<if test="port != null" >
		 AND port = #{port}
	 </if>
	<if test="station != null" >
		 AND station = #{station}
	 </if>
	<if test="result != null" >
		 AND result = #{result}
	 </if>
	<if test="barcode != null" >
		 AND barcode = #{barcode}
	 </if>
	     
    </trim>
  </sql>
  
  <sql id="Base_Column_List" >
  	TESTTIMEs,ENDTIME,ENDA,STARTTIME,STARTA,MACHINENUM,testa,factorynumber,MACHINEtype,linenum,wpnum,id,creattime,batchnum,stationnum,port,station,result,barcode
  </sql>
  
  <!-- 分页查询电性能检测工位 -->
  
  <select id="getList" resultMap="BaseResultMap" >
  	
	    select 
	    <include refid="Base_Column_List" />
	    from STATION2D
	<if test="_parameter != null" >
     	<include refid="Example_Where_Clause" />
   	</if>
    <if test="orderByClause != null" >
     	order by ${orderByClause}
    </if>
    
  </select>
  
  <!-- 根据Id查询电性能检测工位 -->
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from STATION2D
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询电性能检测工位总数量 -->
  
  <select id="countAll" resultType="java.lang.Integer" >
	    select count(1)
	    from STATION2D
	    <!-- 有DELETE_FLAG放开-->
	   <!-- where DELETE_FLAG = 0 -->
  </select>
  
  <!-- 查询所有电性能检测工位 -->
  
  <select id="getAll" resultMap="BaseResultMap">
    select 
     <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from STATION2D 
   <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!-- 根据电性能检测工位编码,查询电性能检测工位信息 有code验证时放开-->
   <!-- <select id="getByCode" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from STATION2D
    where  = #{,jdbcType=}
    AND DELETE_FLAG = 0 
    <if test="id != null" >
    	and id != #{id,jdbcType=VARCHAR}
    </if>
  </select> -->
  
  <!-- 增加电性能检测工位 -->
  
  <insert id="insert" parameterType="java.util.Map" >
    insert into STATION2D
    <selectKey resultType="java.lang.String" keyProperty="id"
			order="BEFORE">
			select sys_guid() from dual
	</selectKey>
    <trim prefix="(" suffix=")" suffixOverrides="," >
       id,
      <if test="testtimes != null"> TESTTIMEs, </if>
	<if test="endtime != null"> ENDTIME, </if>
	<if test="enda != null"> ENDA, </if>
	<if test="starttime != null"> STARTTIME, </if>
	<if test="starta != null"> STARTA, </if>
	<if test="machinenum != null"> MACHINENUM, </if>
	<if test="testa != null"> testa, </if>
	<if test="factorynumber != null"> factorynumber, </if>
	<if test="machinetype != null"> MACHINEtype, </if>
	<if test="linenum != null"> linenum, </if>
	<if test="wpnum != null"> wpnum, </if>
	<if test="creattime != null"> creattime, </if>
	<if test="batchnum != null"> batchnum, </if>
	<if test="stationnum != null"> stationnum, </if>
	<if test="port != null"> port, </if>
	<if test="station != null"> station, </if>
	<if test="result != null"> result, </if>
	<if test="barcode != null"> barcode, </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id},
     <if test="testtimes != null"> #{testtimes}, </if>
	<if test="endtime != null"> #{endtime}, </if>
	<if test="enda != null"> #{enda}, </if>
	<if test="starttime != null"> #{starttime}, </if>
	<if test="starta != null"> #{starta}, </if>
	<if test="machinenum != null"> #{machinenum}, </if>
	<if test="testa != null"> #{testa}, </if>
	<if test="factorynumber != null"> #{factorynumber}, </if>
	<if test="machinetype != null"> #{machinetype}, </if>
	<if test="linenum != null"> #{linenum}, </if>
	<if test="wpnum != null"> #{wpnum}, </if>
	<if test="creattime != null"> #{creattime}, </if>
	<if test="batchnum != null"> #{batchnum}, </if>
	<if test="stationnum != null"> #{stationnum}, </if>
	<if test="port != null"> #{port}, </if>
	<if test="station != null"> #{station}, </if>
	<if test="result != null"> #{result}, </if>
	<if test="barcode != null"> #{barcode}, </if>
    </trim>
  </insert>
  
  <!-- 更新电性能检测工位 -->
    
  <update id="update" parameterType="java.util.Map" >
    update STATION2D
     <set >
      <if test="testtimes != null">TESTTIMEs = #{testtimes}, </if>
	<if test="endtime != null">ENDTIME = #{endtime}, </if>
	<if test="enda != null">ENDA = #{enda}, </if>
	<if test="starttime != null">STARTTIME = #{starttime}, </if>
	<if test="starta != null">STARTA = #{starta}, </if>
	<if test="machinenum != null">MACHINENUM = #{machinenum}, </if>
	<if test="testa != null">testa = #{testa}, </if>
	<if test="factorynumber != null">factorynumber = #{factorynumber}, </if>
	<if test="machinetype != null">MACHINEtype = #{machinetype}, </if>
	<if test="linenum != null">linenum = #{linenum}, </if>
	<if test="wpnum != null">wpnum = #{wpnum}, </if>
	<if test="creattime != null">creattime = #{creattime}, </if>
	<if test="batchnum != null">batchnum = #{batchnum}, </if>
	<if test="stationnum != null">stationnum = #{stationnum}, </if>
	<if test="port != null">port = #{port}, </if>
	<if test="station != null">station = #{station}, </if>
	<if test="result != null">result = #{result}, </if>
	<if test="barcode != null">barcode = #{barcode}, </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String" >
    delete from STATION2D
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!-- 逻辑删除电性能检测工位 -->
  
  <update id="logicDelete" parameterType="java.util.Map" >
    update STATION2D
    set DELETE_FLAG = -1
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>