<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="baseService" class="com.leo.serviceImpl.BaseServiceImpl">
  	<property name="baseDao" ref="baseDao"></property>
  </bean>
  	<bean id="SYSUserServiceImpl" class="com.leo.serviceImpl.SYSUserServiceImpl" parent="baseService"></bean>
    <bean id="station0sService" class="com.leo.serviceImpl.Station0sServiceImpl" parent="baseService"></bean>
    <bean id="station1mService" class="com.leo.serviceImpl.Station1mServiceImpl" parent="baseService"></bean>
    <bean id="station2dService" class="com.leo.serviceImpl.Station2dServiceImpl" parent="baseService"></bean>
    <bean id="station9wService" class="com.leo.serviceImpl.Station9wServiceImpl" parent="baseService"></bean>
</beans>